<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="Icon" href="../images/logo.png" />
    <title>ACK Bondo</title>

    <style>
      body,
      html {
        height: 100%;
        margin: 0;
        font-size: 16px;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        line-height: 1.8em;
        color: #666666;
      }

      .pimg1,
      .pimg2,
      .pimg3 {
        position: relative;
        opacity: 0.7;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .pimg1 {
        background: url("../images/kodia.jpg") no-repeat center center/cover;
        min-height: 100%;
        background-attachment: fixed;
      }

      .pimg2 {
        background: url("../images/bishop.jpg") no-repeat center center/cover;
        min-height: 250px;
        background-attachment: fixed;
      }

      .pimg3 {
        background: url("../images/dean.jpg") no-repeat center center/cover;
        min-height: 350px;
        background-attachment: fixed;
      }

      .section {
        text-align: center;
        padding: 50px 80px;
      }

      .section-light {
        background: #f4f4f4;
        color: #666666;
      }

      .section-dark {
        background: #282e34;
        color: #ddd;
      }

      .ptext {
        position: absolute;
        text-transform: uppercase;
        top: 50%;
        width: 100%;
        text-align: center;
        color: #000000;
        font-size: 100%;
        letter-spacing: 8px;
      }

      .ptext .border {
        background-color: #111;
        color: #fff;
        padding: 20px;
      }

      .ptext .border.trans {
        background-color: transparent;
      }
      /*                                                                                      
      @media (max-width: 568px) {
        .pimg1,
        .pimg2,
        .pimg3 {
          background-attachment: scroll;
        }
      }*/
    </style>
  </head>
  <body>
    <!--parallax start-->
    <div class="pimg1">
      <div class="ptext">
        <span class="border"> Our Bishop </span>
      </div>
    </div>

    <section class="section section-light">
      <h2>Rt. Rev. Prof. David Kodia</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quas
        veritatis veniam animi possimus labore molestiae, facilis hic ullam unde
        totam deserunt laborum quos velit culpa nihil minima et iste maiores
        voluptatum. Id quibusdam deleniti, inventore reiciendis, quos natus
        recusandae distinctio cupiditate atque qui suscipit. Illo mollitia rem
        dolor et, consectetur eius?
      </p>
    </section>

    <div class="pimg3">
      <div class="ptext">
        <span class="border trans"> THE DEAN </span>
      </div>
    </div>

    <section class="section section-dark">
      <h2>The Rev. Austine Paul Gwela</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quas
        veritatis veniam animi possimus labore molestiae, facilis hic ullam unde
        totam deserunt laborum quos velit culpa nihil minima et iste maiores
        voluptatum. Id quibusdam deleniti, inventore reiciendis, quos natus
        recusandae distinctio cupiditate atque qui suscipit. Illo mollitia rem
        dolor et, quae vitae sapiente atque eveniet voluptas, nulla beatae
        repudiandae rerum architecto veritatis ipsam maiores. Quod magnam sequi
        consectetur aspernatur sapiente ipsum cumque fugit facilis non
      </p>
    </section>

    <div class="pimg3">
      <div class="ptext">
        <span class="border"> THE CURATE</span>
      </div>
    </div>

    <section class="section section-dark">
      <h2>Rev. John Fredrick Njue</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quas
        veritatis veniam animi possimus labore molestiae, facilis hic ullam unde
        totam deserunt laborum quos velit culpa nihil minima et iste maiores
        voluptatum. Id quibusdam deleniti, inventore reiciendis, quos natus
        recusandae distinctio cupiditate atque qui suscipit. Illo mollitia rem
        dolor et, quae vitae sapiente atque eveniet voluptas, nulla beatae
        repudiandae rerum architecto veritatis ipsam maiores. Quod magnam sequi
        consectetur aspernatur sapiente ipsum cumque fugit facilis non
      </p>
    </section>

    <div class="pimg3">
      <div class="ptext">
        <span class="border"> THE CURATE</span>
      </div>
    </div>

    <section class="section section-dark">
      <h2>Rev. Prisca Okoth</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quas
        veritatis veniam animi possimus labore molestiae, facilis hic ullam unde
        totam deserunt laborum quos velit culpa nihil minima et iste maiores
        voluptatum. Id quibusdam deleniti, inventore reiciendis, quos natus
        recusandae distinctio cupiditate atque qui suscipit. Illo mollitia rem
        dolor et, quae vitae sapiente atque eveniet voluptas, nulla beatae
        repudiandae rerum architecto veritatis ipsam maiores. Quod magnam sequi
        consectetur aspernatur sapiente ipsum cumque fugit facilis non
      </p>
    </section>

    <div class="pimg3">
      <div class="ptext">
        <span class="border"> THE CURATE</span>
      </div>
    </div>

    <section class="section section-dark">
      <h2>Rev. Stanslaus Odhiambo</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quas
        veritatis veniam animi possimus labore molestiae, facilis hic ullam unde
        totam deserunt laborum quos velit culpa nihil minima et iste maiores
        voluptatum. Id quibusdam deleniti, inventore reiciendis, quos natus
        recusandae distinctio cupiditate atque qui suscipit. Illo mollitia rem
        dolor et, quae vitae sapiente atque eveniet voluptas, nulla beatae
        repudiandae rerum architecto veritatis ipsam maiores. Quod magnam sequi
        consectetur aspernatur sapiente ipsum cumque fugit facilis non
      </p>
    </section>
    <div class="pimg3">
      <div class="ptext">
        <span class="border">The Evangelist</span>
      </div>
    </div>

    <section class="section section-dark">
      <h2>Ev. Stephen Gombe</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quas
        veritatis veniam animi possimus labore molestiae, facilis hic ullam unde
        totam deserunt laborum quos velit culpa nihil minima et iste maiores
        voluptatum. Id quibusdam deleniti, inventore reiciendis, quos natus
        recusandae distinctio cupiditate atque qui suscipit. Illo mollitia rem
        dolor et, quae vitae sapiente atque eveniet voluptas, nulla beatae
        repudiandae rerum architecto veritatis ipsam maiores. Quod magnam sequi
        consectetur aspernatur sapiente ipsum cumque fugit facilis non
      </p>
    </section>
    <div class="pimg3">
      <div class="ptext">
        <span class="border"> THE VERGER</span>
      </div>
    </div>

    <section class="section section-dark">
      <h2>Ev. Gordon .O. Mbawi</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quas
        veritatis veniam animi possimus labore molestiae, facilis hic ullam unde
        totam deserunt laborum quos velit culpa nihil minima et iste maiores
        voluptatum. Id quibusdam deleniti, inventore reiciendis, quos natus
        recusandae distinctio cupiditate atque qui suscipit. Illo mollitia rem
        dolor et, quae vitae sapiente atque eveniet voluptas, nulla beatae
        repudiandae rerum architecto veritatis ipsam maiores. Quod magnam sequi
        consectetur aspernatur sapiente ipsum cumque fugit facilis non
      </p>
    </section>

    <div class="pimg1">
      <div class="ptext">
        <span class="border"> Parallax website </span>
      </div>
    </div>
    <!--parallax end-->
    <footer
      class="bg-color text-white text-center text-lg-start"
      style="border-radius: 10px 10px 0 0"
    >
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="border-bottom border-dark em">
              One True Gospel. For Everyone.
            </h5>
            <p>
              Give ear, our God, and hear; open your eyes and see the desolation
              of the city that bears your Name. We do not make requests of you
              because we are righteous, but because of your great mercy.
            </p>
            <img src="../images/svg/bible.svg" length="20px" width="20px" />
            <a
              class="text-white"
              href="https://www.bible.com/bible/111/DAN.9.18.NIV"
            >
              Daniel 9:18</a
            >
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
            <h5 id="contact" class="border-bottom border-dark">Get In Touch</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <img
                  src="../images/svg/location-arrow.svg"
                  length="20px"
                  width="20px"
                />
                <a
                  href="https://goo.gl/maps/aJdfP9ypq9zUZMoR8"
                  class="text-white"
                  >St. Michaels & All Angels ACK</a
                >
              </li>
              <li>
                <img
                  src="../images/svg/mail-bulk.svg"
                  length="20px"
                  width="20px"
                />
                <a
                  href="mailto:a.c.kbondocathedral@gmail.com"
                  class="text-white"
                  >Send Email</a
                >
              </li>
              <li>
                <img
                  src="../images/svg/phone-alt.svg"
                  length="20px"
                  width="15px"
                />
                <a href="tel:0799873790" class="text-white">Contacts</a>
              </li>
              <li>
                <img
                  src="../images/svg/facebook-square.svg"
                  length="20px"
                  width="18px"
                />
                <a
                  href="https://web.facebook.com/St-Michael-All-Angels-Cathedral-Bondo-109602897349867"
                  class="text-white"
                >
                  Facebook
                </a>
              </li>
              <li>
                <img
                  src="../images/svg/youtube.svg"
                  length="20px"
                  width="25px"
                />
                <a
                  href="https://www.youtube.com/channel/UCRP0w_rFodyp0We57YTaT9g"
                  class="text-white"
                >
                  YouTube
                </a>
              </li>
            </ul>
          </div>

          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div
        class="text-center p-3"
        style="
          background-color: rgba(0, 0, 0, 0.3);
          border-radius: 10px 10px 0 0;
        "
      >
        <ul class="list-unstyled mb-0">
          <li>© 2021</li>
          <li>
            <a class="text-white" href="../index.html"
              >ST. MICHAELS AND ALL ANGELS' CATHEDRAL</a
            >
          </li>
        </ul>
      </div>
      <!-- Copyright -->
    </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
      const slides = document.querySelectorAll(".slide");
      const next = document.querySelector("#next");
      const prev = document.querySelector("#prev");
      const auto = true;
      const intervalTime = 2000;
      let slideInterval;

      const nextSlide = () => {
        //get current class
        const current = document.querySelector(".current");
        //remove current class
        current.classList.remove("current");
        //check for next slide
        if (current.nextElementSibling) {
          //add current to next sibbling
          current.nextElementSibling.classList.add("current");
        } else {
          //add current to start
          slides[0].classList.add("current");
        }
        setTimeout(() => current.classList.remove("current"));
      };

      const prevSlide = () => {
        //get current class
        const current = document.querySelector(".current");
        //remove current class
        current.classList.remove("current");
        //check for next slide
        if (current.previousElementSibling) {
          //add current to previous sibbling
          current.previousElementSibling.classList.add("current");
        } else {
          //add current to last
          slides[slides.length - 1].classList.add("current");
        }
        setTimeout(() => current.classList.remove("current"));
      };

      //autoslide
      if (auto) {
        //run next slide at interval time
        slideInterval = setInterval(nextSlide, intervalTime);
      }
    </script>
  </body>
</html>
